<%- model_class = Word -%>

<table class="table table-striped">
  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.detail %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_word_path(word), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      word_path(word),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_word_path,
            :class => 'btn btn-primary' %>
